

$primary: #0062ff;

/*
$primary:       #ffcc00;
$secondary:     #3355cc;
$success:       #00ff00;
$info:          #ff3333;
$warning:       #ffff00;
$danger:        #ff0000;
$light:         #ff7777;
$dark:          #000;
*/

//$enable-rounded:  true;
//$enable-shadows:  true;
