/node_modules/

package-lock.json

# Build data
/build/
/vendor/

# Composer PHAR
/composer.phar
composer.lock

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

.sass-cache
